.storybook-default {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 20%;
  line-height: 46px;
  vertical-align: middle;
}
.storybook-default--primary {
  color: white;
  background-color: #f65261;
  border: none;
  font-size: 1.2rem;
}
.storybook-search-box {
  border: 1px solid gold;
  width: calc(79% - 10px);
  line-height: 46px;
  text-indent: 15px;
  background-color: #424242;
  border: none;
  color: white;
  font-size: 22px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 4px;
}
.storybook-search-box:focus-visible {
  outline: none;
}